<!doctype html>
<html lang="en">
<head>
  <title><%= project %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit" />
	<%if(model){%>
	<script type="text/javascript">
			(function resizeHtmlFontSize(doc, win) {
					var docEl = doc.documentElement,
							resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
							recalc = function() {
									var clientWidth = docEl.clientWidth;
									if (!clientWidth) return; 
									docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
							};
					if (!doc.addEventListener) return;
					recalc();
					win.addEventListener(resizeEvt, recalc, false);
					doc.addEventListener('DOMContentLoaded', recalc, false);

			})(document, window);	
	</script>
	<%}%>
	<%for(let i =0; i<=libraries.length - 1;  i++){%>
	<script src="<%=libraries[i]%>" type="text/javascript"></script>
	<%}%>
</head>
<body>
<noscript>该站点启用了Javascript，请联系管理员开启Javascript功能。</noscript>

<div id="hbc-activity">
		<img id="logo" src="../assets/img/logo.png" />
		<div><%=author%></div>
</div>
 <script type="text/javascript">
      //iOS用于js交互必备代码：
      function setupWebViewJavascriptBridge(callback) {
      if (window.WebViewJavascriptBridge) {
        return callback(WebViewJavascriptBridge);
      }
      if (window.WVJBCallbacks) {
        return window.WVJBCallbacks.push(callback);
      }
      window.WVJBCallbacks = [callback];
      var WVJBIframe = document.createElement('iframe');
      WVJBIframe.style.display = 'none';
      WVJBIframe.src = 'wvjbscheme://__BRIDGE_LOADED__';
      document.documentElement.appendChild(WVJBIframe);
      setTimeout(function() {
        document.documentElement.removeChild(WVJBIframe)
      }, 0)
    }
    //安卓和ios回调函数
    function shareCallback(res) { //Android:[true,  false] // IOS: [1, 0]
       if(res) {
         alert('分享成功！')
       }
    }

    setupWebViewJavascriptBridge(function(bridge) {
      bridge.registerHandler('shareCallback', function(data, responseCallback) {
        //IOS 分享成功返回“1”
        shareCallback(success === "1");
      });
    });
</script>
</body>
</html>
